
body{
  text-align: center;
  background-image: url('https://img.digitaltrends.com/image/google-earth-7-1200x630-c.jpg');
  background-repeat: no-repeat;
  background-size:100% ;
  height: 100%;
}

h1{
  height: 100px;
  justify-content: center;
  padding-top: 30px;
  color: rgba(240, 248, 255, 0.801);
  letter-spacing: 5px;
}

Form .mb-3{
  margin-top: 30px;
  width: 25%;
  margin-left: 510px;
}
